<!DOCTYPE html>

<html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title>@ViewBag.Title</title>
        @Styles.Render("~/Styles/css")
    </head>
    <body>
        <div id="layoutHeader">
            <div class="twoColumn">
                <div class="largerText">
                    THE UNIVERSITY OF TOLEDO
                </div>
                <div style="font-size:1.5em;">
                    ABET Maintenance Interface
                </div>
            </div>
            <div class="twoColumn rightAligned" style="vertical-align:top;">
                @Html.Partial("_LoginControl")
            </div>
        </div>
        <nav>
            <ul>
                <li>Class</li>
            </ul>
        </nav>
        <div id="mainContent">
            @RenderBody()
        </div>
    </body>
</html>
